<div class="flex justify-center">
    <div class="flex flex-col my-8">
        <div class="flex justify-around items-center my-8 ">
            <div class="rounded-full">
                <img src="." alt="" class="rounded-full">
            </div>
            <div class="text-4xl font-bold uppercase">
                RODRIGO ALEJANDRO ESPINOSA
            </div>
        </div>

        <div class="grid grid-cols-3 ">
            <div class=""></div>
            <div class="border-t-4">
                <h3 class="text-2xl font-weight-bold my-3 text-center font-bold">Sobre Mi</h3>
                <p class="text-justify"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus
                    perferendis modi nulla est quia dolor itaque ducimus esse aliquam quo natus sed ipsa, unde atque
                    deleniti sequi quis vitae sapiente!</p>
            </div>
            <div></div>
        </div>
        <div class="grid grid-cols-3 my-6">
            <div></div>

            <div>
                <h3 class="font-bold text-2xl my-3 text-center">Datos personales</h3>
                <div class="grid grid-cols-2">
                    <div>
                        <p class="mb-2"><i class="pi pi-phone"></i> <span class="font-bold"> Telefono: </span>
                            3517065643 </p>
                        <p class="mb-2"><i class="pi pi-facebook"></i><span class="font-bold"> Facebook: </span>
                            asdasdasd </p>
                        <p class="mb-2"><i class="pi pi-linkedin"></i><span class="font-bold"> Linkedin:</span>
                            adsdasdasd </p>
                        <p class="mb-2"><i class="pi pi-github"></i><span class="font-bold"> Linkedin: </span>
                            adsdasdasd</p>
                    </div>
                    <div>

                        <p class="mb-2 "><i class="pi pi-envelope"></i><span class="font-bold"> Email: </span>
                            Rodrigo@rodrigo.com</p>
                        <p class="mb-2 "><i class="pi pi-calendar-times"></i> <span class="font-bold"> Fecha de
                                nacimiento:</span> 20/05/24</p>
                        <p class="mb-2"><i class="pi pi-id-card"></i> <span class="font-bold"> D.N.I:</span> 36447281
                        </p>
                        <p class="mb-2"><i class=" pi pi-home"></i> <span class="font-bold"> Direccion :</span> avenida
                            siempre vivz</p>
                    </div>
                </div>
            </div>
            <div>

            </div>

        </div>
        <div class="grid grid-cols-3">
            <div></div>
            <div class="">
                <h3 class="font-bold text-2xl my-3 text-center">Estudios</h3>
                <ul>
                    <li class="font-bold">Educacion primaria:</li>
                    <li class="font-bold">Educacion secundaria</li>
                    <li class="font-bold">Educacion superior</li>
                </ul>
            </div>
        </div>

    </div>
</div>

<div class="grid grid-cols-3 my-6">
    <div></div>
    <div class="">
        <h3 class="font-bold text-2xl my-3 text-center">Experienia Laboral</h3>
        <div>

        </div>
    </div>
</div>