<nav class="nav flex flex-col  ">
    <div class="nav__principal justify-around flex items-center">

        <div class="nav__principal__menu flex items-center ">
            <div class="text_menu">
                <h2 class="menu__icon text-5xl">Dev<span class="font-bold">JOBS</span></h2>
            </div>
            <div class="menu_links ml-10 "><a routerLink="./mis-vacantes">Mis Vacantes</a> <a>Crear Vacante</a></div>
        </div>

        <div class="nav__principal__submenu">
            Juan
        </div>
    </div>

<div class="nav__secundario  flex justify-around text-3xl mb-2">
    <h3>Crear Vacante</h3>
</div>

</nav>

<div class="body h-auto flex justify-center py-10">
    <div class="content flex justify-center bg-white">
        <div class="w-full p-8">  
   <router-outlet></router-outlet>
        </div>
    </div>
</div>
