<div class="flex flex-col justify-center items-center ">
    <div class="title">
        <h3>Publicar Vacantes</h3>
    </div>
    <div class="form w-2/5 flex justify-center my-8">
        <form  class="w-full" [formGroup]="Form" (ngSubmit)="onSubmit()">
            <div class="mb-6">
                <label for="title" class="mb-2">Titulo Vacante:</label>
                <input pInputText id="title" class="w-full" formControlName="title" />
                <span *ngIf="ErrorField('title')" class="mt-2 text-red-500 font-bold " >
                    {{ DescriptionError('title') }}
                </span>
            </div>

            <div class="mb-6">
                <label for="salario" class="mb-2">Salario:</label>
                <p-dropdown [options]="salario" formControlName="salario"  [style]="{'width':'100%'}"></p-dropdown>
                <span *ngIf="ErrorField('salario')" class="mt-2 text-red-500 font-bold " >
                    {{ DescriptionError('salario') }}
                </span>
            </div>

            
            <div class="mb-6">
                <label for="salario" class="mb-2">Categoria:</label>
                <p-dropdown [options]="categoria" formControlName="categoria"  [style]="{'width':'100%'}"></p-dropdown>
                <span *ngIf="ErrorField('categoria')" class="mt-2 text-red-500 font-bold " >
                    {{ DescriptionError('categoria') }}
                </span>
            </div>

            <div class="mb-6">
                <label for="empresa" class="mb-2">Empresa:</label>
                <input pInputText id="empresa" class="w-full" formControlName="empresa"  />
                <span *ngIf="ErrorField('empresa')" class="mt-2 text-red-500 font-bold " >
                    {{ DescriptionError('empresa') }}
                </span>
            </div>
            <div class="mb-6">
                <label for="time" class="mb-2">Ultimo dia para posularse:</label>
                <p-calendar [style]="{'width':'100%'}" formControlName="time" [showIcon]="true"></p-calendar>
                <span *ngIf="ErrorField('time')" class="mt-2 text-red-500 font-bold " >
                    {{ DescriptionError('time') }}
                </span>
            </div>
            <div class="mb-6">
                <label for="" class="mb-1">Descripcion del Puesto</label>
                <p-editor [style]="{ height: '220px' }" formControlName="description"></p-editor>
                <div *ngIf="ErrorField('description')" class="mt-2 text-red-500 font-bold " >
                   {{ DescriptionError('description') }}
                </div>
            </div>
            <div class="w-full mb-8">
                <label for="fileInput" class="file-label">
                    <span class="file-icon"><i class="pi pi-upload"></i></span>
                    Subir Archivo
                </label>
                <input type="file" id="fileInput" class="hidden" formControlName="image" (change)="onFileSelected($event)" />
                <span id="fileName" class="file-name">Ningún archivo seleccionado</span>
            </div>
            <p-button type="submit" label="Submit"></p-button>

        </form>
    </div>
    <div *ngIf="imagenCargada">
        <img [src]="imagenURL" alt="Imagen">
      </div>
</div>